.filterBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input#search {
    font-family: cursive;
}

.searchBar {
    width: 25%;
    transition: width 0.4s ease-in-out;
}

.searchBarClicked{
    width: 80%;
    transition: width 0.4s ease-in-out;
}

.choiceFilter {
    width: 25%;
    font-size: 12px;
}